In [ ]:
tuple datatype:

In [ ]:
definition:tuple is nothing but a list which is immutable---->seperated by commas
assign:()
classification:- immutable

In [1]:
measurements=(250,410)

In [ ]:
1.) Acessing the value

In [2]:
measurements[0]

250

In [3]:
measurements[1]

410

In [ ]:
2.) change the value

In [4]:
measurements[1]=390

TypeError: 'tuple' object does not support item assignment

In [ ]:
3.) checking tuple or not

In [5]:
type(measurements)

tuple

In [ ]:
tuple is immutable but,if u want to change values u have to assign the whole data again

In [6]:
measurements=(250,390)

In [7]:
print(measurements)

(250, 390)

In [8]:
aphabets=('a','x','d','f','j',45,6.88)

In [10]:
alphabets=('a','x','d','j',51,6.88)

In [11]:
print(alphabets)

('a', 'x', 'd', 'j', 51, 6.88)

In [13]:
#question
name=("harshal")

In [14]:
type(name)

str

In [ ]:
#"",'',""""""   ------>strings

In [15]:
name1=("aamir",)

In [16]:
type(name1)

tuple

In [ ]:
builtin methods---->.upper(),.lower(),.title()

In [17]:
names=("aamir",'sameer','suhail','harshal')

In [18]:
print(names)

('aamir', 'sameer', 'suhail', 'harshal')

In [19]:
type(names)

tuple

In [20]:
print(names[0].title())

Aamir

In [21]:
print(names[3].upper())

HARSHAL

In [22]:
print(names[2].lower())

suhail

In [ ]:
slicing a list
in tuple

In [23]:
print(alphabets)

('a', 'x', 'd', 'j', 51, 6.88)

In [24]:
print(alphabets[0:4])

('a', 'x', 'd', 'j')

In [ ]:
stop value and step value are exclusive

In [ ]:
general syntax-->[startvalue:stopvalue:stepvalue]

In [ ]:
x<8

In [ ]:
1234567

In [25]:
alphabets[0:3]

('a', 'x', 'd')

In [28]:
print(alphabets[0:6])

('a', 'x', 'd', 'j', 51, 6.88)

In [29]:
print(alphabets[0:6:1])

('a', 'x', 'd', 'j', 51, 6.88)

In [30]:
print(alphabets[0:6:2])

('a', 'd', 51)